<footer class="p-1 bg-light text-black text-center navbar-fixed-bottom">
  <div class="container">
    <p class="lead">Copyright &copy; MediTracker</p>
    <a href="#" class="position-absolute bottom-0 end-0 p-1" aria-label="go to top of page">
      <i class="bi bi-arrow-up-circle h4 text-success"></i>
    </a>
  </div>
</footer>


<!-- jQuery js -->
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- main js -->
<script src="/js/main.js"></script>

  </body>
</html>