<footer class="p-1 bg-light text-black text-center navbar-fixed-bottom">
  <div class="container">
    <p class="lead">Copyright &copy; MediTracker</p>
    <a href="#" class="position-absolute bottom-0 end-0 p-1" aria-label="go to top of page">
      <i class="bi bi-arrow-up-circle h4 text-success"></i>
    </a>
  </div>
</footer>


  <!-- jquery plugins here-->
  <script src="js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- owl carousel js -->
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.nice-select.min.js"></script>
  <!-- contact js -->
  <script src="js/jquery.ajaxchimp.min.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/mail-script.js"></script>
  <script src="js/contact.js"></script>
  <!-- custom js -->
  <script src="js/custom.js"></script>
  <!-- main js -->
  <script src="js/main.js"></script>
</body>

</html>