<%- include('partials/header') -%>

<main class="landing">
    <div class="landing">
        <h1 class="index-h1">MediTracker</h1>
        <p class="index-p">Tracking All Your Medical Appointments In One Place </p>
        <a href="/login">
            <button class="index-button button">
                <span>Login</span>
            </button>
        </a>
        <a href="/signup">
            <button class="index-button button">Signup</button>
        </a>
    </div>
</main>

<%- include('partials/footer') -%>