<%- include('partials/header') -%>
  <body class="background">
     <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Upload Cards</h5>
                <div class="form-floating mb-3 signup">
                  <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                      <label for="" class="form-label">Driver's License</label>
                      <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <button type="submit" class="profile-btn btn-primary" value="Upload">Submit</button>
                  </form>
                </div>
                <div class="form-floating mb-3 signup">
                  <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                      <label for="" class="form-label">Primary Insurance</label>
                      <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <button type="submit" class="profile-btn btn-primary" value="Upload">Submit</button>
                  </form>
                </div>
                <div class="form-floating mb-3 signup">
                  <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                      <label for="" class="form-label">Secondary Insurance</label>
                      <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <button type="submit" class="profile-btn btn-primary" value="Upload">Submit</button>
                  </form>
                </div>
                <div class="form-floating mb-3 signup">
                  <form action="/post/createPost" enctype="multipart/form-data" method="POST">
                    <div class="mb-3">
                      <label for="" class="form-label">Proof of Vaccination</label>
                      <input type="file" class="form-control" id="imageUpload" name="file">
                    </div>
                    <button type="submit" class="profile-btn btn-primary" value="Upload">Submit</button>
                  </form>
                </div>
                <div class="d-grid">
                  <a class="btn btn-primary btn-login text-uppercase fw-bold" href="/feed">View Cards</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
    
<%- include('partials/footer') -%>