* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Index Page */

body{
    background-image: url('https://img.freepik.com/free-vector/clean-medical-background_53876-97927.jpg?w=826&t=st=1664763449~exp=1664764049~hmac=a7cb151d0cd7031c2c0f5baf69411e4cb33414fab8ec8d2641df39a41604eba5');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: repeat-y;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    color: rgb(78, 78, 79);
    padding-bottom: 20px;
    text-transform: capitalize;
} 

.landing{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

main{
    height:95vh;
    width:80vw;
    margin:auto;
}

/* .button{
    background: rgba(48, 44, 44, .3);
    border: 2px;
    border-radius: 5px;
    padding: 3px 12px;
    margin: 5px;    
} */
.landing > form > input ,  #submitButton, .landing > form > input:active, .form, .button{
    height: 35px;
    margin: 3px;
    background-color: rgb(78, 78, 79);
    border-radius: 5px;
    text-align: center;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: white;
  }

#submitButton{
    margin-top: 1rem;
    color: #888;
}
.landing > form {
    display: flex;
    flex-direction: column;
}
.index-button{
  width: 10em;
}
.index-h1{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 8px;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 3em;
    color: rgb(38, 38, 38);
    padding: 1px;
    text-transform: capitalize;
}
.index-p{
    font-size: 1em;
    text-transform: capitalize;
    padding: 1em;
    font-style: italic;
}
.logout-button{
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 3px;
    padding: 0.5em;
    position: relative;
    margin: 1rem;
    float: right;
    overflow: hidden;
    background: rgb(214, 214, 214);
    color: rgb(47, 47, 47);
    border-radius: 10%;
}
.logout-button:hover {
    opacity: 0.55;
}

/* Sign-In Page */

.signin-button {
    padding: 13em;
}
.signup-button {
    padding: 7em;
}

/* Profile Page */

.h1-profile{
    padding-top: 1em;
}
